<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Electronics Store</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <div class="contact-info">
            <p>Call Us: <a href="tel:+254111756999">+254 111 756 999</a></p>
        </div>
        <h1>Welcome to My Electronics Store</h1>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./products.html">Products</a>
            <a href="./services.html">Services</a>
            <a href="./cart.html">Cart</a>
        </nav>
    </header>

    <!-- Hero Section with Slider -->
    <div class="hero-slider">
        <div class="slide">
            <img src="../static/images/wiredless-mouse.jpeg" alt="Slide 1">
            <div class="caption">
                <h2>Latest Electronics at Unbeatable Prices</h2>
                <p>Check out our new arrivals!</p>
                <a href="./products.html" class="btn">Shop Now</a>
            </div>
        </div>
        <div class="slide">
            <img src="../static/images/bc.jpg" alt="Slide 2">
            <div class="caption">
                <h2>Expert Repair Services</h2>
                <p>Get your gadgets fixed by our professionals.</p>
                <a href="./services.html" class="btn">Learn More</a>
            </div>
        </div>
        <div class="slide">
            <img src="../static/images/Wireless-Keyboard.jpeg" alt="Slide 3">
            <div class="caption">
                <h2>Special Discounts on Accessories</h2>
                <p>Up to 50% off on selected items.</p>
                <a href="./products.html" class="btn">Explore Deals</a>
            </div>
        </div>
    </div>

    <main>
        <section id="products" class="highlight">
            <h2>Our Products</h2>
            <p>Explore our range of electronic devices.</p>
            <a href="./products.html" class="btn">View Products</a>
        </section>
        
        <section id="services" class="highlight">
            <h2>Our Services</h2>
            <p>We also offer repair services.</p>
            <a href="./services.html" class="btn">View Services</a>
        </section>
    </main>
    <footer>
        <div class="footer-contact">
            <p>Contact Us: <a href="tel:++254111756999">+254 111 756 999</a></p>
            <p>WhatsApp: <a href="https://wa.me/254111756999" target="_blank">+254 111 756 999</a></p>
            <p>Email: <a href="mailto:pientopitelo@gmail.com">pientopitelo@gmail.com</a></p>
        </div>
        <p>&copy; 2024 TillHappens</p>
    </footer>

    <a href="https://wa.me/254111756999" target="_blank" class="whatsapp-float">
        <img src="../static/images/whatsapp.jpeg" alt="WhatsApp">
    </a>
</body>
</html>
