<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products - My Electronics Store</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <div class="contact-info">
            <p>Call Us: <a href="tel:+254111756999">+254 111 756 999</a></p>
        </div>
        <h1>Our Products</h1>
        <nav>
            <a href="./index.html">Home</a>
            <a href="./products.html">Products</a>
            <a href="./services.html">Services</a>
            <a href="./cart.html">Cart</a>
        </nav>
    </header>

    <main>
        <div class="product-page">
            <!-- {% for product in products %} -->
        <div class="product">
            <img src="../static/images/laptop stand.jpg" alt="Wireless-Keyboard">
            <h3>Laptop Stands</h3>
            <p>Price: Ksh. 800</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <!-- {% endfor %} -->
        <div class="product">
            <img src="../static/images/monitor2.jpeg" alt="Wireless-Keyboard">
            <h3>monitor</h3>
            <p>Price: Ksh. 3500</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/Wired-Mouse.jpeg" alt="Wireless-Keyboard">
            <h3>Mouse</h3>
            <p>Price: Ksh. 300</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/earphone.jpg" alt="Wireless-Keyboard">
            <h3>Wireless Earbuds</h3>
            <p>Price: Ksh. 800</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/wiredless-mouse.jpeg" alt="Wireless-Keyboard">
            <h3>Wireless-Mouse</h3>
            <p>Price: Ksh. 600</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/wireless Keyboard.jpg" alt="Wireless-Keyboard">
            <h3>Wireless-Keyboard</h3>
            <p>Price: Ksh. 700</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/wired-Mouse1.jpeg" alt="Wireless-Keyboard">
            <h3>Wired-Mouse</h3>
            <p>Price: Ksh. 300</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/Wired-Keyboard.jpeg" alt="Wireless-Keyboard">
            <h3>Wired Keyboard</h3>
            <p>Price: Ksh. 400</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        <div class="product">
            <img src="../static/images/charger.jpeg" alt="Wireless-Keyboard">
            <h3>Charger</h3>
            <p>Price: Ksh. 2000</p>
            <a href="./cart.html">Add to Cart</a>
        </div>
        
        </div>
        
    </main>

    <footer>
        <div class="footer-contact">
            <p>Contact Us: <a href="tel:++254111756999">+254 111 756 999</a></p>
            <p>WhatsApp: <a href="https://wa.me/254111756999" target="_blank">+254 111 756 999</a></p>
            <p>Email: <a href="mailto:pientopitelo@gmail.com">pientopitelo@gmail.com</a></p>
        </div>
        <p>&copy; 2024 TillHappens</p>
    </footer>

    <a href="https://wa.me/254111756999" target="_blank" class="whatsapp-float">
        <img src="../static/images/whatsapp.jpeg" alt="WhatsApp">
    </a>
</body>
</html>
