<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - My Electronics Store</title>
    <link rel="stylesheet" href="../static/css/service.css">
    <script src="../static/js/script.js"></script>
</head>
<body>
    <header>
        <div class="contact-info">
            <p>Call Us: <a href="tel:+254111756999">+254 111 756 999</a></p>
        </div>
        <h1>Our Services</h1>
        <nav>
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('products_page') }}">Products</a>
            <a href="{{ url_for('services') }}">Services</a>
            <a href="{{ url_for('cart') }}">Cart</a>
        </nav>
        
    </header>

    <main>
        <section class="service-info">
            <h2>Device Repair</h2>
            <p>We specialize in repairing a wide range of electronic devices. Whether it’s a phone, laptop, or any other gadget, our expert technicians are here to help you. Please fill out the form below to request a repair service, and we'll get back to you as soon as possible.</p>
        </section>

        <section class="service-form">
            <form action="" method="POST">
                <div class="form-group">
                    <label for="device">Device Type:</label>
                    <input type="text" id="device" name="device" placeholder="e.g., Smartphone, Laptop" required>
                </div>

                <div class="form-group">
                    <label for="issue">Issue Description:</label>
                    <textarea id="issue" name="issue" placeholder="Describe the problem you are experiencing" required></textarea>
                </div>

                <button href="mailto:pientopitelo@gmail.com" class="btn-submit">Request Repair</button>
            </form>
        </section>
    </main>

    <footer>
        <div class="footer-contact">
            <p>Contact Us: <a href="tel:++254111756999">+254 111 756 999</a></p>
            <p>WhatsApp: <a href="https://wa.me/254111756999" target="_blank">+254 111 756 999</a></p>
            <p>Email: <a href="mailto:pientopitelo@gmail.com">pientopitelo@gmail.com</a></p>
        </div>
        <p>&copy; 2024 TillHappens</p>
    </footer>

    <a href="https://wa.me/254111756999" target="_blank" class="whatsapp-float">
        <img src="../static/images/whatsapp.jpeg" alt="WhatsApp">
    </a>
</body>
</html>

